ul {
  list-style: none;
}

.bluejumbo{
  background-color: powderblue;
}


.messages {
  list-style: none;
}

.profile_picture {
  max-height: 150px;
  border-radius: 25%;

}
/* How do we get the navbar to actually look like it should???
* Display inline
* Display with some color
* Not display complete whitespace
*/
