{% extends "profiles/layout.html" %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block body %}
{% if messages %}
<ul class="messages text-center alert alert-primary">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
  <div class="jumbotron jumbotron-fluid bg-white text-dark text-center">
    <h1 class="display-1 mt-0 mb-4">Mentor</h1>
    <p class="display-4 mb-4">The Site for Success</p>
    <a class="btn btn-primary" href="#">Browse All Mentors</a>
  </div>
</div>
{% endblock %}
