{% extends "profiles/layout.html" %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block body %}
<div class="bg-light text-dark">
  <div class="container text-center">
    <div class="jumbotron bluejumbo jumbotron-fluid">
<h1 class="display-4 mt-0">Mentor</h1>
<h2 class="lead">The Site for Success</h2>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>
</div>
