{% extends "profiles/layout.html" %}

{% block title %}Update Profile - {{ block.super }}{% endblock %}

{% block body %}
{% if object.user == request.user %}
<form method="POST">
  {% csrf_token %}
  <img src={{ object.avatar.url }} style="
max-height: 200px;
  ">
  {{ form.as_p }}
  <button class="btn btn-default" type="submit">Update</button>
</form>
<a href="{% url 'userprofile' username=request.user %}" class="btn btn-danger">Cancel</a>
{% else %}
<div class="bg-light text-info">
<div class="container text-center">
<h1 class="display-1 mt-5">Whoops!</h1>
<p class="lead">You don't have access to this page. Please <a href="
  {% url 'index' %}">return to the home page.</a></p>
</div>
</div>
{% endif %}
{% endblock %}
