{% extends "profiles/layout.html" %}
{% load static %}

<!-- Title Text -->
{% block title %}
{% if you_are_blocked or you_are_blocking %}
Blocked - {{ block.super }}
{% else %}
{{ object.user }} - {{ block.super }}
{% endif %}
{% endblock %}

<!-- Body Contents -->

{% block body %}

<!-- Handling Blocked User Instances -->

{% if you_are_blocked %}
<div class="bg-light text-danger">
<div class="container text-center">
<h1 class="display-1 mt-5">Blocked.</h1>
<p class="lead">This user has blocked your access to their profile. Please <a href="
  {% url 'index' %}">return to the home page.</a></p>
</div>
</div>

{% elif you_are_blocking %}

<div class="bg-light text-danger">
<div class="container text-center">
<h1 class="display-1 mt-5">Blocked.</h1>
<p class="lead">You have blocked this user. Please <a href="
  {% url 'index' %}">return to the home page.</a><br> or
<form action="{% url 'unblock' username=object.user %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="to_user_username" value="{{ object.user }}">
    <input type="submit" value="Unblock" class="btn btn-primary">
</form>
</p>

</div>
</div>

{% else %}

<!-- Displaying User Profile -->

{% if messages %}
<ul class="messages text-center alert alert-primary">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
  <!--Profile Jumbotron-->
  <div class="jumbotron jumbotron-fluid bg-white text-center">
  {% if object.user != request.user %}
    <h1 class="display-4 mt-0 mb-3"> {{ object.user }}'s profile. </h1>
  {% else %}
    <h1 class="display-4 mt-0 mb-3"> My Profile </h1>
  {% endif %}
  {% if object.avatar %}
    <img
    src="{{object.avatar.url}}"
    alt="profile picture"
    class="profile_picture mb-4">
  {% else %}
    <h5>¯\_(ツ)_/¯</h5>
    <h5>{{object.user}} has not set a profile picture.</h5>
  {% endif %}
    <p class="lead">{{ object.bio }}</p>
    <div id="profile_functions">
    {% if object.user != request.user %}
      {% if not user_is_following %}
        <form action="{% url 'follow' username=object.user %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="to_user_username" value="{{ object.user }}">
          <input type="submit" value="Follow" class="btn btn-default">
        </form>
      {% elif user_is_following %}
        <form action="{% url 'unfollow' username=object.user %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="to_user_username" value="{{ object.user }}">
          <input type="submit" value="Unfollow" class="btn btn-default">
        </form>
      {% endif %}
      {% if not you_are_blocking %}
      <form action="{% url 'block' username=object.user %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="to_user_username" value="{{ object.user }}">
        <input type="submit" value="Block" class="btn btn-danger">
      </form>
      {% endif %}
    {% endif %}
    {% if object.user == request.user %}
      <a href="{% url 'edit' username=request.user %}" class="btn btn-primary">Edit</a>
      {% endif %}
    </div>
  </div>

  <!-- Follow Check -->
  {% if object.user != request.user %}
    {% if mutual_follow %}
      You and {{ object.user }} are following each other!
    {% else %}
      You are{% if not user_is_following %} not{% endif %} following {{ object.user }}.
    {% endif %}
  {% endif %}

<!-- Displaying Posts -->
  <div id="profile_posts" class="text-center">
    <h1 class="h1">Posts</h1>
    <div id="post_box">
      <ul>
      {% for post in posts %}
        <li class="profile_post pt-3 pb-3">
          <div class="row">
            <div class="col-8 align-middle">
            {{ post.message }}
            {{ post.post_time }}
            </div>
            <div class="col-4">
              <a href="#" class="btn btn-outline-primary">Like</a>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %} <!-- Ends Block Check -->
{% endblock %}
